In [1]:
type(105)

int

In [2]:
type(105.0)

float

In [3]:
type(-2)

int

In [4]:
type(0)

int

In [5]:
type(-1)

int

In [6]:
print(-2)

-2

In [7]:
my_int = -2

In [8]:
print(my_int)

-2

In [9]:
int_math = 10-(-2)

In [10]:
print(int_math)

12

In [11]:
print(2.0)

2.0

In [12]:
print(-2.0)

-2.0

In [13]:
my_float = -10.2

In [14]:
print(my_float)

-10.2

In [15]:
float_math =-10.50 + 20.6

In [16]:
print(float_math)

10.100000000000001

In [20]:
print(round(float_math, 2))

10.1

In [24]:
print('Hello, world')

Hello, world

In [22]:
my_string = 'Hello, world'

In [23]:
print(my_string)

Hello, world

In [25]:
200 > 150

True

In [26]:
2 > 3

False

In [27]:
2 < 5

True

In [28]:
3 < 1

False

In [29]:
6 == 6

True

In [30]:
20 == 10

False

In [31]:
my_bool = 5 > 7

In [32]:
print(my_bool)

False

In [35]:
my_list1 = [-3, -5, 0, 1.0, -2.0, 10]

In [36]:
print(my_list1)

[-3, -5, 0, 1.0, -2.0, 10]

In [37]:
my_list2 = [-1, 5.0, 10, 'okay', 'not']

In [39]:
print(my_list2)

[-1, 5.0, 10, 'okay', 'not']

In [40]:
(-1, 5.0, 10, 'okay', 'not')

(-1, 5.0, 10, 'okay', 'not')

In [41]:
my_tuple = (-1, 5.0, 10, 'okay', 'not')

In [42]:
print(my_tuple)

(-1, 5.0, 10, 'okay', 'not')

In [43]:
students = {'Samy' : 13, 'Sara' : 14, 'John' : 16, 'Paul' : 15}

In [44]:
print(students)

{'Samy': 13, 'Sara': 14, 'John': 16, 'Paul': 15}

In [45]:
{'c', 'Sara', 1, -2, 10.0, 200}

{-2, 1, 10.0, 200, 'Sara', 'c'}

In [46]:
my_set = {'c', 'Sara', 1, -2, 10.0, 200}

In [47]:
print(my_set)

{1, 200, 'c', 10.0, 'Sara', -2}

In [48]:
freez_my_set = frozenset(my_set)

In [49]:
print(freez_my_set)

frozenset({1, 10.0, 200, 'c', -2, 'Sara'})

How to convert from Data type to another?

In [50]:
float(-1)

-1.0

In [51]:
int(10.0)

10

In [52]:
type(my_int)

int